<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommercemobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cart" android:label="Cart"></activity>
        <activity
            android:name=".ProductDetails"
            android:label="Product Description" />
        <activity
            android:name=".ShowProducts"
            android:label="List of Products" />
        <activity
            android:name=".BrandsRegister"
            android:label="Register Brands" />
        <activity
            android:name=".BrandsManager"
            android:label="Manage Brands" />
        <activity
            android:name=".UserManager"
            android:label="Manage Users" />
        <activity
            android:name=".ProductRegister"
            android:label="Register Products" />
        <activity
            android:name=".ProductsManager"
            android:label="Manage Products" />
        <activity
            android:name=".CreateAccount"
            android:label="Create an account" />
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>